<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees Table</title>
</head>
<body>
    <h1>Table list of employees</h1>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Country</th>
            </tr>
            <tr th:each="employee:${employees}">
                <td th:text="${employee.firstname} + ' ' + ${employee.lastname}"></td>
                <td th:text="${employee.title}"></td>
                <td th:text="${employee.country}"></td>
            </tr>
        </table>
    </div>
</body>
</html>